<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Inserir usuário</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div style="text-align: center;">
    <h1>Escolher imagem do usuário</h1>
    <img *ngIf="user.foto" src="{{ user.foto }}" style="width:100px;height:100px;" (click)="chooseFile()">
    <form ngNoForm>
      <input id="imgUser" name="file" type="file" (change)="upload()">
    </form>
  </div>
  <ion-list>
    <ion-item>
      <ion-label stacked>Email do usuário</ion-label>
      <ion-input type="text" [(ngModel)]="user.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Senha do usuário</ion-label>
      <ion-input type="password" [(ngModel)]="user.senha"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Nome do usuário</ion-label>
      <ion-input type="text" [(ngModel)]="user.nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Professor(1) ou aluno free(0) ou aluno premium(2)</ion-label>
      <ion-input type="text" [(ngModel)]="user.tipo_de_usuario"></ion-input>
    </ion-item>
    <ion-item>
      <button ion-button block (click)="registro()">Salvar</button>
    </ion-item>
  </ion-list>

  
  <ion-list>
    <table>
      <thead>
        <td>Imagem</td>
        <td>ID</td>
        <td>Email</td>
        <td>Senha</td>
        <td>Nome</td>
        <td>Nivel</td>
        <td>Mandar pro Firebase</td>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios" >
          <td>{{ usuario.caminho }}</td>
          <td>{{ usuario.id_cliente }}</td>
          <td>{{ usuario.email }}</td>
          <td>{{ usuario.senha }}</td>
          <td>{{ usuario.nome }} {{ usuario.sobrenome }}</td>
          <td>{{ usuario.nivel }}</td>
          <td><button ion-button (click)="registrarFirebase(usuario)" >Firebase</button></td>
        </tr>
      </tbody>
    </table>
  </ion-list>

</ion-content>